<!DOCTYPE html>
<html>

<head>
    <title>
        Populate dropdown list
        with array values
    </title>
</head>

<body style="text-align:center;">

    <select id="arr"></select>

    <script>
        var select = document.getElementById("arr");
        var elmts = ["HTML", "CSS", "JS", "PHP", "jQuery"];

        // Main function
        function GFG_Fun() {
            for (var i = 0; i < elmts.length; i++) {
                var optn = elmts[i];
                var el = document.createElement("option");
                el.textContent = optn;
                el.value = optn;
                select.appendChild(el);
            }
            down.innerHTML = "Elements Added";
        }
        GFG_Fun()
    </script>
</body>

</html>